node_modules
dist
coverage
.DS_Store
.env
.idea
.vscode
*.log
mahjong-server
client/dist
client/coverage
server/coverage.out
server/coverage.txt
server/mahjong-server

# Build artifacts
game-bundle/mahjong-game-server
lobby-bundle/mahjong-lobby-server
